/* Estilos generales */
body {
    font-family: 'Fira Code', menlo;
    margin: 0;
    padding: 0;
    background-color: #0a192f; /* Fondo azul oscuro */
    color: #ccd6f6; /* Texto claro */
    scroll-behavior: smooth;
}

/* Estilos generales para el header y botones */
header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0a192f;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu ul li {
    margin: 1rem 0
}

.nav-button {
    color: #ccd6f6;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #6C99B2;
    font-size: 18px;
    transition: 0.3s ease;
    display: flex;
    text-align: center;

}


.nav-button:hover {
    background-color: #3b95d4;
}

/* Hacer los botones más pequeños y en 2 columnas en pantallas pequeñas */
@media (max-width: 768px) {

    .nav-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .nav-button {
        font-size: 14px;
        padding: 8px 8px;
    }
}

/* Sticky navigation cuando el usuario desplaza hacia abajo */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0a192f;
    z-index: 1000;
}

.sticky .nav-menu {
    padding: 10px 0;
}


a {
    color: white; /* Cambia el color del texto a blanco */
     /* Elimina la subrayado predeterminado de los enlaces */
}

.container {
    display: flex;
    flex-direction: row; /* Mantener la fila en pantallas grandes */
    height: 100vh;
    overflow: hidden;
}

.header {
    width: 30%;
    background-color: #0a192f; /* Fondo igual al general */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header h1 {
    font-size: 2.5rem;
    color: #3b95d4;
    margin: 1rem;
}

.header p {
    display: grid;
    font-size: 1.8rem;
    color: #8892b0;
    margin: 1rem;
}



.main-content {
    width: 70%;
    padding: 50px;
    overflow-y: auto;
    background-color: #112240;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        height: auto; /* Ajustar altura automática */
    }
    .header {
        width: 100%; /* Ancho completo para la sidebar */
        padding: 0px;
    }
    .main-content {
        width: 100%; /* Ancho completo para el contenido principal */
        
        padding: 0px;
    }
}

.section {
    margin: 50px;
}

.section h2 {
    color: #6C99B2;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card {
    background-color: #0a192f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card h3 {
    color: #6C99B2;
}

.card p {
    color: #8892b0;
}

#contact {
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #ccd6f6;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6C99B2;
    background-color: #0a192f;
    color: #ccd6f6;
    font-size: 1rem;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #6C99B2;
    color: #0a192f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #3b95d4;
}


/* Efecto Scroll */
html {
    scroll-behavior: smooth;
}
